/* SeriesSidebar.module.css */
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

@keyframes highlight {
  0% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #d4e2fc;
  }
}

.sidebar {
  width: 100%;
  background-color: white;
  padding: 10px;
  overflow-y: auto;
  border-radius: 8px;
  height: 100%;
}

.videoContainer {
  position: relative;
  transform-origin: center center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.videoContainer.moving {
  transform: scale(0.98);
  opacity: 0.8;
}

.videoItem {
  display: flex;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  align-items: center;
  transition: all 0.3s ease;
  transform-origin: center center;
  position: relative;
}

.videoItem.moving-up {
  animation: moveUp 0.3s ease forwards;
}

.videoItem.moving-down {
  animation: moveDown 0.3s ease forwards;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}

.selected {
  animation: scaleUp 0.3s ease-in-out, highlight 0.3s ease-in-out;
  transform: scale(1.03);
  margin-bottom: 5px;
}

.upNext {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px;
  padding-left: 10px;
}

.thumbnailWrapper {
  position: relative;
  margin-right: 10px;
  flex-shrink: 0;
}

.thumbnailWrapper:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.thumbnail {
  width: 150px;
  height: 84px;
  border-radius: 4px;
  object-fit: cover;
}

.duration {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 12px;
  font-weight: bold;
  max-height: 100%;
  overflow: hidden;
  margin: 0;
  margin-bottom: 5px;
}

.disciplines {
  font-size: 8px;
  color: #777;
  margin-bottom: 10px;
}

.coachInfo {
  display: flex;
  align-items: center;
}

.coachAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.coachName {
  font-size: 12px;
  color: #aaaaaa;
}

.addVideoButton {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 59px;
  border: none;
  display: flex;
  align-items: center;
}

.addVideoButton:hover {
  background: #6B6B6B;
  color: white;
}

.arrowControls {
  
}

@media screen and (max-width: 768px) {
  .sidebar {
    height: auto;
    margin: 0px;
  }
}

/* Landscape mode styles */
@media (max-width: 768px) and (orientation: landscape) {
  .videoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }

  .rowContainer {
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
  }

  .videoPlayerRow {
    width: 70%; /* Allocate 70% of the width for the video player */
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .videoPlayerRow video {
    width: 100%;
    height: auto;
    max-height: 70vh; /* Limit height to avoid overflow */
    object-fit: cover;
  }

  .videoInfoRow {
    width: 30%; /* Allocate 30% of the width for video information and sidebar */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .descriptionRow {
    margin: 0;
    padding: 10px;
    background-color: #F1F4F9;
    border-radius: 10px;
  }

  .sidebarRow {
    width: 100%;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 80vh; /* Ensure the sidebar scrolls if content overflows */
  }

  .actionButtonsCol {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }

  .actionButton,
  .shareButton {
    padding: 5px 10px;
  }

  .coachRow {
    flex-direction: row;
    align-items: center;
  }
}
