.dropzone {
    border: 2px dashed #ced4da;
    border-radius: 4px;
    padding: 2rem;
    text-align: center;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .dropzone:hover {
    border-color: #6c757d;
  }
  
  .previewContainer {
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .previewContainer table {
    margin-bottom: 0;
  }



  .button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
  }


  .button:disabled {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .button:hover,
  .button:focus,
  .button:active {
    color: white;
    text-decoration-thickness: 2px;
    background-color: #333;
  }



.buttonDanger {
    background-color: red;
    border-color: red;
  }

.buttonDanger:hover {
    background-color: #ff6666;
    border-color: #ff6666;
}